* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #FAF7F2;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;     
  background-image: url('public/assets/iteration-1/home-banner.png');
  min-height: 100vh;        
  width: 100%;               /* 🔑 vw yerine % */
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;    /* arkaplan taşmasın */
  column-gap: 0;
}

header h1 {
  margin: 0; 
  padding: 0; 
  line-height: 1;
  font-size: 6rem;
  font-weight: lighter;
}

header img {
  width: 20rem; 
  margin: 0 auto; 
  padding-top: 2rem
}

header p {
  font-style: italic;
  color: yellow;
  padding-top: 2rem;
  margin: 0;
  font-size: 2rem;
  font-family: 'Satisfy'

}

.btn {
  display: inline-block;
  background-color: #FDC913;
  color: black;
  padding: 0.6rem 2rem;
  font-size: 0.8rem;
  font-weight:bolder;
  border-radius: 1rem;
  width:fit-content;
  margin: 0 auto;
  border: 0px;
  cursor:pointer;
  font-weight:550;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-top: 1rem;
}

.btn:hover {
  background-color: #FAF7F2;
  color: #CE2829;
  transition: 0.4s;
}

main {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon {
  display: flex;
  flex-direction: col;
  justify-content:center;
  gap: 2rem;
  background-color: white;
  width: 100%;
  padding: 1rem 0;
  align-items: center;

}

.icon .icon-item {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  white-space: nowrap;
}

.icon .icon-item p{
  padding-left: 1rem;
  color: black;
  font-family: Barlow;
  font-weight: 600;
  
}

.lezzetus {
  margin-top: 3rem;
  display: flex;
  flex-direction: row;
  width: 58%;
  gap: 1rem;
}

.lezzetus .lezzetus-box1 {
  width: 50%;
  background-image: url('public/assets/iteration-2/cta/kart-1.png');
  min-height: 40vh;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: left;
  padding: 3rem 2rem;
  border-radius: 1rem;
}

.lezzetus .lezzetus-box1 .lezz-btn{
  text-align: left;
  border-radius: 2rem;
  padding: 0.6rem 1rem;
  font-size: small;
  background-color: white;
  color: red;
  font-family: Barlow;
  font-weight: bold;
}

.lezzetus .lezzetus-box2 {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 0.8rem ;
  
}

.item1 {
  position: relative;
  text-align: left;
  border-radius: 1rem;
  height: 20vh;
  width: 100%;
}

.item1 img {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 0.75rem;
  z-index: -1;
}

.item1 .baslik {
  padding: 1rem;
  font-family: Barlow;
  line-height: 2.2rem;
}

.item1 .lezz-btn{
  text-align: left;
  border-radius: 2rem;
  padding: 0.6rem 1rem;
  font-size: small;
  background-color: white;
  color: red;
  font-family: Barlow;
  font-weight: bold;
}

.lezzetus .lezzetus-box1 h2{
  font-family:Quattrocento;
  font-size: 4.2rem;
  line-height: 1;
}

.lezzetus .lezzetus-box1 p{
  font-family:Barlow;
  font-size: 1.25rem;
  padding-bottom: 1rem;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  
  
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

/* 
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
