* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;     
  background-image: url('public/assets/iteration-1/home-banner.png');
  min-height: 100vh;        
  width: 100%;               /* 🔑 vw yerine % */
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;    /* arkaplan taşmasın */
  column-gap: 0;
  flex-shrink: 0;
}

header h1 {
  margin: 0; 
  padding: 0; 
  line-height: 1;
  font-size: 6rem;
  font-weight: lighter;
}

header img {
  width: 20rem; 
  margin: 0 auto; 
  padding-top: 2rem
}

header p {
  font-style: italic;
  color: #FDC913;
  padding-top: 2rem;
  margin: 0;
  font-size: 2rem;
  font-family: 'Satisfy'

}

.text {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.text p {
  font-style: italic;
  color: #CE2829;
  padding-top: 2rem;
  padding-bottom: 1rem;
  margin: 0;
  font-size: 2rem;
  font-family: 'Satisfy';

}

.text h1 {
  margin: 0; 
  padding: 0; 
  line-height: 1;
  font-size: 2rem;
  font: weight 600;
  color: #292929;

}

.btn {
  display: inline-block;
  background-color: #FDC913;
  color: black;
  padding: 0.6rem 2rem;
  font-size: 0.8rem;
  font-weight:bolder;
  border-radius: 1rem;
  width:fit-content;
  margin: 0 auto;
  border: 0px;
  cursor:pointer;
  font-weight:550;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-top: 1rem;
}

.btn:hover {
  background-color: #FAF7F2;
  color: #CE2829;
  transition: 0.4s;
}

main {
  width: 58%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  
}

.icon {
  display: flex;
  flex-direction: row;
  justify-content:center;
  gap: 2rem;
  background-color: white;
  width: 100%;
  padding: 1rem 0;
  align-items: center;
  position: absolute;
}

.best-foods {
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items: stretch;
  gap: 2rem;
  width: 100%;
  padding: 1rem 0.9rem;
  align-items: center;
  flex-shrink: 0;
}

.best-foods .icon-item:hover {
  transform:translateY(-10px);
  transition: 0.8s;
}

.best-foods .icon-item {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  background-color: white;
  padding: 0.5rem;
  border-radius: 2rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  
}

.best-foods .icon-item  p{
  padding-left: 1rem;
  color: black;
  font-family: Barlow;
  font-weight: 600;
}

.best-foods .active{
  color: white !important;
  background-color: #292929 !important;
}

.best-foods .active p{
  color: white !important;
  
}

.icon .icon-item {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  padding: 0 0.9rem;
}



.icon .icon-item p{
  padding-left: 1rem;
  color: black;
  font-family: Barlow;
  font-weight: 600;
  
}

.lezzetus {
  margin-top: 8.5rem;
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 1rem;
  flex-shrink: 0;
  border: 1px solid red;
}

.lezzetus .lezzetus-box1 {
  width: 50%;
  background-image: url('public/assets/iteration-2/cta/kart-1.png');
  min-height: 40vh;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: left;
  padding: 2rem 2rem;
  border-radius: 1rem;
  flex-shrink: 0;
  border: 1px solid red;
}

.lezzetus .lezzetus-box1 .lezz-btn{
  text-align: left;
  border-radius: 2rem;
  padding: 0.6rem 1rem;
  font-size: small;
  background-color: white;
  color: red;
  font-family: Barlow;
  font-weight: bold;
}

.lezzetus .lezzetus-box2 {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 0.8rem ;
  flex-shrink: 0;
  
}

.item1 {
  position: relative;
  text-align: left;
  border-radius: 1rem;
  height: 20vh;
  width: 100%;
}

.item1 img {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 0.75rem;
  z-index: -1;
}

.item1 .baslik {
  padding-left: 1rem;
  padding-top: 1rem;
  font-family: Barlow;
  line-height: 2.1rem;
}

.item1 .lezz-btn{
  text-align: left;
  border-radius: 2rem;
  padding: 0.6rem 1rem;
  font-size: small;
  background-color: white;
  color: red;
  font-family: Barlow;
  font-weight: bold;
}

.lezzetus .lezzetus-box1 h2{
  font-family:Quattrocento;
  font-size: 4.2rem;
  line-height: 1;
}

.lezzetus .lezzetus-box1 p{
  font-family:Barlow;
  font-size: 1.25rem;
  padding-bottom: 1rem;
}

.cards {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  gap: 2rem ;
  margin-bottom: 3rem;
  flex-shrink: 0;
}

.cards .card-item {
  color: black;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 1rem;
  border-radius: 1rem;
}

.cards .card-item:hover {
  transform:translateY(-10px);
  transition: 0.8s;
}

.pizza-name {
  text-align: left;
  font-size: large;
  font-weight: bold;
}

.context {
  display: flex;
  justify-content: space-between;
}

.context-2 {
  display: flex;
}

.context-2 p{
  padding: 0 2rem;
}

.context-2 p:last-child{
  font-weight: bold;
}


footer {
  background-color: #292929;
  height: 40vh;
  width: 100%;
}


a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #FAF7F2;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} 


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


@media (max-width: 1000px) {

  .lezzetus {
    margin-top: 11rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: stretch;    
  }    

.lezzetus .lezzetus-box1 {
  width: 100%;
}

.lezzetus .lezzetus-box2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.8rem ;
    flex-shrink: 0; 
}

  .item1 .baslik {
  padding-left: 2rem;
  padding-top: 2rem;

}


.icon {
  display: flex;
  flex-direction: row;

  flex-wrap: wrap;
  margin: auto;
  align-items: stretch;
  justify-content: center;
}

.icon .icon-item {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  width: 150px;
}

.best-foods {
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items: stretch;
  gap: 2rem;
  width: 100%;
  padding: 1rem 0.9rem;
  align-items: center;
  flex-shrink: 0;
  flex-wrap: wrap;
  margin: auto;
}

.cards {
  margin-top: 2rem;
  display: flex;
  flex-direction:row;
  gap: 2rem ;
  margin-bottom: 3rem;
  flex-shrink: 0;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
}

}


@media (max-width: 675px) {

    body {
      min-width: 350px;
    }

    main {
      width: 100%;
    }
    

    .header {
      width: 100%;
      background-size: cover;
      background-position: center;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      height: 100vh;
      font-size: 1rem;
    }

    header h1 {
      margin: 0; 
      padding: 0;
      padding-top: 1rem; 
      line-height: 1;
      font-size: 3rem;
      font-weight: lighter;
    }

    .lezzetus {
    margin-top: 3.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: stretch;    
  }    

  .lezzetus .lezzetus-box1 {
  width: 100%;
  padding: 1rem 1rem;
  
}

  .lezzetus .lezzetus-box2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.8rem ;
    flex-shrink: 0; 
}

  .item1 .baslik {
  padding-left: 2rem;
  padding-top: 2rem;
}

.item1 .baslik {
  padding-left: 1rem;
  padding-top: 1rem;
  font-family: Barlow;
  line-height: 2rem;
}


  .icon {
  display: flex;
  flex-direction: row;
  position:relative;
  flex-wrap: wrap;
  margin: auto;
  align-items: stretch;
  justify-content: center;
  flex:1;
  gap: 1rem ;
  
}

  .icon .icon-item {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  flex:1;
}

.best-foods {
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items: stretch;
  gap: 1rem;
  width: 100%;
  padding: 1rem 0.9rem;
  align-items: center;
  flex-shrink: 0;
  flex-wrap: wrap;
  margin: auto;
  justify-content: space-between;

}


.best-foods .icon-item {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
}

.cards {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem ;
  margin-bottom: 3rem;
  flex-shrink: 0;
}




}